*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation: slideIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@font-face {
    font-family: "Aileron-Light";
    src: url(Fonts/Aileron-Light.otf);
}

@font-face {
    font-family: "Aileron-Normal";
    src: url(Fonts/Aileron-Regular.otf);
}


@font-face {
    font-family: "Oswald-Light";
    src: url(Fonts/Oswald-Light.ttf);
}

@font-face {
    font-family: "Oswald-Bold";
    src: url(Fonts/Oswald-Bold.ttf);
}


@font-face {
    font-family: "Futura-Light";
    src: url(Fonts/Futura\ Light.otf);
}


@font-face {
    font-family: "Oswald-SemiBold";
    src: url(Fonts/Oswald-SemiBold.ttf);
}

#ComparePackages-Main{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    width: 100%;
}

.links-container{
    height: 100%;
    display: flex;
    align-items: center;

}

nav a{
    height: 100%;
    padding: 0 20px;
    display:flex;
    align-items: center;
    text-decoration: none;
    color: #5F43B2;;
    transition: .7s ;
    text-shadow:5px 5px 20px #000000af;
    
}

nav a:hover{
    color: #5F43B2;
    text-shadow:10px 10px 50px #5F43B2;
    cursor: pointer;
    transform: scale(1.1);
}


#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    padding: 0 20px;
    display: none;
}

.Pricing-Header{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Pricing-Header h1{
    font-family: "Oswald-Bold";
    font-size: 3rem;
    color: #5F43B2;
    text-align: center;
    text-shadow: 5px 5px 20px #00000046;
}

.Pricing-Header h3{
    font-family: "Oswald-Light";
    font-size: 1.5rem;
    color: #5F43B2;
    text-align: center;
    text-shadow: 5px 5px 20px #00000046;
}
.Image-Cards-Wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px;
    border: 2px solid red;
    margin-bottom: 50px;
    
}

.Image-Card1{
    width: 100%;
    height: 100vh;
    display: flex;
    transition-duration: 0.5s;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 50px;
    align-items: flex-end;
    box-shadow: 9px 15px 48px 0px rgba(0,0,0,1);
}
.Image-Card1 img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.Image-Card1:hover{
    transform:scale(1.05);
    transform: translateY(-20px);
    box-shadow:6px 10px 45px 14px rgba(57, 18, 171, 0.39);;
}
.Image-Card1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.Image-Card1:hover:before{
    opacity: 1;
}

.Image-Card1 .Card-Content{
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s all;
}

.Image-Card1:hover .Card-Content{
    opacity: 1;
    transform: translateY(0px);
}

.Image-Card1 .Card-Content h2{
    font-family: "Oswald-Bold";
    color: #5F43B2;
    font-size: 36px;
    opacity: 1;
}

.Card-Content{
    height: 50%;
    width: 100%;
    z-index: 1;
    padding: 10px;
}
.Card-title {
    position: relative;
    width: fit-content;
}

.Card-description{
    font-family: "futura-Light";
    font-size: 15px;
    width: 100%;
}

.Pricing-btn{
    border: 2px solid #5F43B2;
    padding: 5px;
    text-decoration: none;
    font-family: "Oswald-SemiBold";
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: right;
   
}

.Pricing-btn:hover{
    box-shadow:6px 10px 45px 14px rgba(57, 18, 171, 0.39);
    transition: .7s ease-in;
    background-color: #5F43B2;
    color: white;
    cursor: pointer;
}

.Pricing-Button-container{
    width: 80px;
    float: right;
}

